@using UserRoles.ViewModels;
@model UserRoles.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "Verify Email";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">Reset Password</h2>
    <form asp-action="ResetPassword" method="post">
        <input type="hidden" asp-for="Token" />
        <input type="hidden" asp-for="Email" />

        <div class="mb-3">
            <label asp-for="NewPassword" class="form-label"></label>
            <input asp-for="NewPassword" type="password" class="form-control" required />
        </div>

        <div class="mb-3">
            <label asp-for="ConfirmPassword" class="form-label"></label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" required />

        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-success w-100 p-2">Reset Password</button>
        </div>
    </form>
    </div>
</div>

